<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<!--< <add name="POS_DePrisa.Properties.Settings.DBDePrisaConnectionString" connectionString="Data Source=localhost;Initial Catalog=DBDePrisa;Persist Security Info=True;User ID=sa;Password=1234"-->
		<add name="POS_DePrisa.Properties.Settings.DBDePrisaConnectionString" connectionString="workstation id=DBDePrisa.mssql.somee.com;packet size=4096;user id=proyectoSoftware_SQLLogin_1;pwd=tgbu1iw5xn;data source=DBDePrisa.mssql.somee.com;persist security info=False;initial catalog=DBDePrisa;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>